doctype html

html
    head
        title Netseer Pub Hub
        base(href="#{basePath}")
        meta(name="description", content="")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        link(rel="shortcut icon", type="image/png", href="/images/favicon.png")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300', rel='stylesheet', type='text/css')
        
        - each path in paths.css
            link(rel="stylesheet", href="#{path}", media="screen, projection")

    body(ng-app="app-framework")

        div(ui-view)
        #app-spinner(page-loader, ng-show="showPageLoading")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")

        - each path in paths.js
            script(type="text/javascript", src="#{path}")

        script.
            APP_MODULE.constant('config', {
                'debug': #{angularDebug ? angularDebug : false},
                'title': '#{title}',
                'env': '#{environment}',
                'apiUrl': (window.top.location.host==='pubhub.netseer.com' ? 'http://pubhub.netseer.com/' : 'http://pubhub-staging.netseer.com:8008/') + 'pubhub/in/vms/config/',
                'version': '#{version}'
            });