section(id="inimageForm")
    .panel.panel-primary
        .panel-heading
            h3.panel-title Standard Settings
        .panel-body
            p Use these settings for the majority of taglinks.
            .panel.panel-info
                .panel-heading
                    h3.panel-title General Settings
                .panel-body
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewPrefetchAds.$invalid && !settingsForm.inviewPrefetchAds.$pristine }")
                        label.control-label Number of Prefetch Ads
                        input.form-control(type='number', name='inviewPrefetchAds', min='0', step='1', ng-pattern='patterns.integersOnly', ng-model='taglinkData.banner_prefetch.queue_size', uib-tooltip='This values controls how large our ad queue is per page load.  This should be 0 for article pages, and 2 for galleries and article/gallery hybrid pages depending on the average length of the gallery.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.inviewPrefetchAds.$invalid && !settingsForm.inviewPrefetchAds.$pristine") Max Number of Initial Placements is optional but must be greater than or equal to 1 if entered.
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.open_on_ad', ng-checked="taglinkData.open_on_ad==='enabled'", ng-true-value="'enabled'", ng-false-value="'disabled'")
                            | Open on Ad
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewMinWindowHeight.$invalid && !settingsForm.inviewMinWindowHeight.$pristine }")
                        label.control-label Min Window Height
                        input.form-control(type='number', name='inviewMinWindowHeight', min='0', step='1', ng-pattern='patterns.integersOnly', ng-model='taglinkData.placement_scan.filters.min_height', uib-tooltip='The minimum allowable window height.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.inviewMinWindowHeight.$invalid && !settingsForm.inviewMinWindowHeight.$pristine") Must be a positive integer.
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewMinWindowWidth.$invalid && !settingsForm.inviewMinWindowWidth.$pristine }")
                        label.control-label Min Window Width
                        input.form-control(type='number', name='inviewMinWindowWidth', min='0', step='1', ng-pattern='patterns.integersOnly', ng-model='taglinkData.placement_scan.filters.min_width', uib-tooltip='The minimum allowable window width.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.inviewMinWindowWidth.$invalid && !settingsForm.inviewMinWindowWidth.$pristine") Must be a positive integer.
    .panel.panel-warning
        .panel-heading.panel-collapsible(ng-click='toggleAdvancedSettings()')
            h3.panel-title
                .fa.fa-plus-square(ng-show='isAdvancedHidden')
                .fa.fa-minus-square(ng-show='!isAdvancedHidden')
                | Advanced Settings
        .panel-body(uib-collapse='isAdvancedHidden')
            p These settings should be avoided except in rare cases.
            .panel.panel-default
                .panel-heading
                    h3.panel-title General Settings
                .panel-body
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewTransparency.$invalid && !settingsForm.inviewTransparency.$pristine }")
                        label.control-label Transparency
                        input.form-control(type='number', name='inviewTransparency', min='0', step='1', max='100', ng-pattern='patterns.integersOnly', ng-model='taglinkData.inview_transparency', uib-tooltip='This determines the opaque level of the creative (for inview set to 100%, for inimage 95%).', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.inviewTransparency.$invalid && !settingsForm.inviewTransparency.$pristine") Must be a positive integer.
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewSize.$invalid && !settingsForm.inviewSize.$pristine }")
                        label.control-label Placement Size
                        input.form-control(type='text', name='inviewSize',ng-model='taglinkData.inview_size', uib-tooltip='The size of the placement which is created and it should match the size the of the ad creative which is placed inside.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.inviewSize.$invalid && !settingsForm.inviewSize.$pristine") Must be a positive integer.
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewAlignment.$invalid && !settingsForm.inviewAlignment.$pristine }")
                        label.control-label Placement Alignment &nbsp;
                            select(ng-model='taglinkData.inview_alignment', name="inviewAlignment", uib-tooltip='The placement should be aligned to the center, middle or left of the page.', tooltip-placement='right', tooltip-popup-delay='500')
                                option(ng-repeat='option in options.alignment', value='{{option.value}}') {{option.label}}
                        p.help-block(ng-show="settingsForm.inviewAlignment.$invalid && !settingsForm.inviewAlignment.$pristine") Error.
            .panel.panel-default
                .panel-heading
                    h3.panel-title Banner Refreshing
                .panel-body
                    p Enable refreshing by:&nbsp;
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.click.enabled', ng-checked="taglinkData.banner_refresh.triggers.click.enabled")
                                    | Click
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.click && taglinkData.banner_refresh.triggers.click.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.click.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Classes
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.click.classes', uib-tooltip='Enter a comma-separated list of classes. Omit . character for each class.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label IDs
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.click.ids', uib-tooltip='Enter a comma-separated list of IDs.  Omit # character for each ID.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.scroll.enabled', ng-checked="taglinkData.banner_refresh.triggers.scroll.enabled")
                                    | Scroll
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.swipe.enabled', ng-checked="taglinkData.banner_refresh.triggers.swipe.enabled")
                                    | Swipe
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.swipe && taglinkData.banner_refresh.triggers.swipe.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.swipe.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.tag_added.enabled', ng-checked="taglinkData.banner_refresh.triggers.tag_added.enabled")
                                    | Tag Added
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.tag_added && taglinkData.banner_refresh.triggers.tag_added.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.tag_added.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.timer.enabled', ng-checked="taglinkData.banner_refresh.triggers.timer.enabled")
                                    | Timer
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.timer && taglinkData.banner_refresh.triggers.timer.enabled")
                                .form-group
                                    label Interval
                                    input.form-control(type='number', ng-model='taglinkData.banner_refresh.triggers.timer.interval_in_millis', uib-tooltip='Enter the number of milliseconds to delay.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.url_change.enabled', ng-checked="taglinkData.banner_refresh.triggers.url_change.enabled")
                                    | URL Change
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.api_invoked.enabled', ng-checked="taglinkData.banner_refresh.triggers.api_invoked.enabled")
                                    | External API Invoked
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.api_invoked && taglinkData.banner_refresh.triggers.api_invoked.enabled")
                                .form-group
                                    label Trigger Function Names
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.api_invoked.trigger_function_names', uib-tooltip='Enter a comma-separated list of free-form keywords. top.NETSEER.{{taglinkData.banner_refresh.triggers.api_invoked.trigger_function_names}}() will be externally available for the publishers to invoke. Avoid using special characters like "-", etc', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group(ng-class="{ 'has-error' : settingsForm.inviewMaxRefresh.$invalid && !settingsForm.inviewMaxRefresh.$pristine }")
                        label.control-label Max Number of Refreshes
                        input.form-control(type='number', name='inviewMaxRefresh', min='0', step='1', ng-pattern='patterns.integersOnly', ng-model='taglinkData.banner_refresh.refresh_num_max', uib-tooltip='Maximum number of banner refreshes allowed per page load', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.inviewMaxRefresh.$invalid && !settingsForm.inviewMaxRefresh.$pristine") Must be a positive integer.
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.inview_reload_exchange', ng-checked="taglinkData.inview_reload_exchange==='enabled'", ng-true-value="'enabled'", ng-false-value="'disabled'")
                            | Reload Exchange