@require './mixins.styl';
@require 'nib';

.loading
  color #aaa
  font-size 24px

input:placeholder-shown
  opacity 1
  font-style italic

.form-control
  color #111

.has-error
  .form-control
    color #a94442