section(id="inimageForm")
    .panel.panel-primary
        .panel-heading
            h3.panel-title Standard Settings
        .panel-body
            p Use these settings for the majority of taglinks.
            .panel.panel-info
                .panel-heading
                    h3.panel-title Global Parameters
                .panel-body
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.open_on_ad', ng-checked="taglinkData.open_on_ad==='enabled'", ng-true-value="'enabled'", ng-false-value="'disabled'")
                            | Open on Ad
            .panel.panel-info
                .panel-heading
                    h3.panel-title Initial Placement Scan and Filtering
                .panel-body
                    .form-group(ng-class="{ 'has-error' : settingsForm.maxInitialPlacements.$invalid && !settingsForm.maxInitialPlacements.$pristine }")
                        label.control-label Max Number of Initial Placements
                        input.form-control(type='number', name='maxInitialPlacements', min='1', step='1', ng-pattern='patterns.integersOnly', ng-model='taglinkData.placement_scan.num_placement_per_scan', uib-tooltip='The number of placements our tag looks to find on initial page load', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.maxInitialPlacements.$invalid && !settingsForm.maxInitialPlacements.$pristine") Max Number of Initial Placements is optional but must be greater than or equal to 1 if entered.
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.placement_scan.filters.in_viewport')
                            | Initial Placement in Viewport
                    .form-group(ng-class="{ 'has-error' : settingsForm.minImageWidth.$invalid && !settingsForm.minImageWidth.$pristine }")
                        label.control-label Min Image Width
                        input.form-control(type='number', name='minImageWidth', ng-model='taglinkData.placement_scan.filters.min_width', ng-min='defaults.minImageWidth', uib-tooltip='Enter a non-negative number.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.minImageWidth.$error.min && !settingsForm.minImageWidth.$pristine") Min Image Width must be greater than {{defaults.minImageWidth}}.
                    .form-group(ng-class="{ 'has-error' : settingsForm.minImageHeight.$invalid && !settingsForm.minImageHeight.$pristine }")
                        label.control-label Min Image Height
                        input.form-control(type='number', name='minImageHeight', ng-model='taglinkData.placement_scan.filters.min_height', ng-min='{{defaults.minImageHeight}}', uib-tooltip='Enter a non-negative number.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.minImageHeight.$invalid && !settingsForm.minImageHeight.$pristine") Min Image Height must be greater than {{defaults.minImageHeight}}.
                    .form-group
                        label.control-label Primary Selector
                        input.form-control(type='text', name='primarySelector', min='1', step='1', ng-model='taglinkData.placement_scan.primary_selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group(ng-class="{ 'has-error' : settingsForm.prefetchAds.$invalid && !settingsForm.prefetchAds.$pristine }")
                        label.control-label Number of Prefetch Ads
                        input.form-control(type='number', name='prefetchAds', min='0', step='1', ng-pattern='patterns.integersOnly', ng-model='taglinkData.banner_prefetch.queue_size', uib-tooltip='This value controls how large our ad queue is per page load.  This should be 1 for article pages, and 3 or higher for galleries and article/gallery hybrid pages depending on the average length of the gallery.', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="settingsForm.prefetchAds.$invalid && !settingsForm.prefetchAds.$pristine") Invalid entry.  A value of 0 disables programmatic demand.
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='ugcEnabled' ng-change='handleGlobalUGC(this)' ng-checked='taglinkData.placement_scan.user_generated_content.instagram.enabled && taglinkData.placement_scan.user_generated_content.twitter.enabled && taglinkData.placement_scan.user_generated_content.imgur.enabled && taglinkData.placement_scan.user_generated_content.pinterest.enabled')
                            | Enable UGC
            .panel.panel-info
                .panel-heading
                    h3.panel-title Rescanning Triggers
                .panel-body
                    //.form-group
                    //    label Enable Rescanning *&nbsp;
                    //    select(ng-model='taglinkData.enableRescanning', uib-tooltip='This allows the tag to rescan the page based on a trigger to look for new placements.', tooltip-placement='right', tooltip-popup-delay='500')
                    //        option(ng-repeat='option in options.enableRescanning', value='{{option.value}}') {{option.label}}
                    p Enable rescanning by:&nbsp;
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.click.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.click.enabled")
                                    | Click
                            .panel-body(ng-show="taglinkData.placement_scan.rescan.triggers.click && taglinkData.placement_scan.rescan.triggers.click.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.rescan.triggers.click.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.scroll.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.scroll.enabled")
                                    | Scroll
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.swipe.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.swipe.enabled")
                                    | Swipe
                            .panel-body(ng-show="taglinkData.placement_scan.rescan.triggers.swipe && taglinkData.placement_scan.rescan.triggers.swipe.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.rescan.triggers.swipe.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.tag_added.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.tag_added.enabled")
                                    | Tag Added
                            .panel-body(ng-show="taglinkData.placement_scan.rescan.triggers.tag_added && taglinkData.placement_scan.rescan.triggers.tag_added.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.rescan.triggers.tag_added.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.timer.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.timer.enabled")
                                    | Timer
                            .panel-body(ng-show="taglinkData.placement_scan.rescan.triggers.timer && taglinkData.placement_scan.rescan.triggers.timer.enabled")
                                .form-group
                                    label Interval
                                    input.form-control(type='number', ng-model='taglinkData.placement_scan.rescan.triggers.timer.interval_in_millis', uib-tooltip='Enter the number of milliseconds to delay.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.url_change.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.url_change.enabled")
                                    | URL Change
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.triggers.api_invoked.enabled', ng-checked="taglinkData.placement_scan.rescan.triggers.api_invoked.enabled")
                                    | External API Invoked
                            .panel-body(ng-show="taglinkData.placement_scan.rescan.triggers.api_invoked && taglinkData.placement_scan.rescan.triggers.api_invoked.enabled")
                                .form-group
                                    label Trigger Function Names
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.rescan.triggers.api_invoked.trigger_function_names', uib-tooltip='Enter a comma-separated list of free-form keywords. top.NETSEER.{{taglinkData.placement_scan.rescan.triggers.api_invoked.trigger_function_names}}() will be externally available for the publishers to invoke. Avoid using special characters like "-", etc', tooltip-placement='top-center', tooltip-popup-delay='500')
            .panel.panel-info
                .panel-heading
                    h3.panel-title Banner Refreshing
                .panel-body
                    //.form-group
                    //    label Enable Refreshing *&nbsp;
                    //    select(ng-model='taglinkData.enableRefreshing', uib-tooltip='This allows us to refresh / reload an existing placement with another ad based on a trigger.', tooltip-placement='right', tooltip-popup-delay='500')
                    //        option(ng-repeat='option in options.enableRefreshing', value='{{option.value}}') {{option.label}}
                    p Enable refreshing by:&nbsp;
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.click.enabled', ng-checked="taglinkData.banner_refresh.triggers.click.enabled")
                                    | Click
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.click && taglinkData.banner_refresh.triggers.click.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.click.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.scroll.enabled', ng-checked="taglinkData.banner_refresh.triggers.scroll.enabled")
                                    | Scroll
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.swipe.enabled', ng-checked="taglinkData.banner_refresh.triggers.swipe.enabled")
                                    | Swipe
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.swipe && taglinkData.banner_refresh.triggers.swipe.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.swipe.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.tag_added.enabled', ng-checked="taglinkData.banner_refresh.triggers.tag_added.enabled")
                                    | Tag Added
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.tag_added && taglinkData.banner_refresh.triggers.tag_added.enabled")
                                .form-group
                                    label Selector
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.tag_added.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.timer.enabled', ng-checked="taglinkData.banner_refresh.triggers.timer.enabled")
                                    | Timer
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.timer && taglinkData.banner_refresh.triggers.timer.enabled")
                                .form-group
                                    label Interval
                                    input.form-control(type='number', ng-model='taglinkData.banner_refresh.triggers.timer.interval_in_millis', uib-tooltip='Enter the number of milliseconds to delay.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.url_change.enabled', ng-checked="taglinkData.banner_refresh.triggers.url_change.enabled")
                                    | URL Change
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.banner_refresh.triggers.api_invoked.enabled', ng-checked="taglinkData.banner_refresh.triggers.api_invoked.enabled")
                                    | External API Invoked
                            .panel-body(ng-show="taglinkData.banner_refresh.triggers.api_invoked && taglinkData.banner_refresh.triggers.api_invoked.enabled")
                                .form-group
                                    label Trigger Function Names
                                    input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.api_invoked.trigger_function_names', uib-tooltip='Enter a comma-separated list of free-form keywords. top.NETSEER.{{taglinkData.banner_refresh.triggers.api_invoked.trigger_function_names}}() will be externally available for the publishers to invoke. Avoid using special characters like "-", etc', tooltip-placement='top-center', tooltip-popup-delay='500')
    .panel.panel-warning
    .panel.panel-warning
        .panel-heading.panel-collapsible(ng-click='toggleAdvancedSettings()')
            h3.panel-title
                .fa.fa-plus-square(ng-show='isAdvancedHidden')
                .fa.fa-minus-square(ng-show='!isAdvancedHidden')
                | Advanced Settings
        .panel-body(uib-collapse='isAdvancedHidden')
            p These settings should be avoided except in rare cases.
            .panel.panel-default
                .panel-heading
                    h3.panel-title Global Parameters
                .panel-body
                    .form-group
                        label Max Number of Placements per Session / Page Load
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.total_num_placements', uib-tooltip='Hard cap on the max number of placements per page load - including any number of subsequent rescans.', tooltip-placement='right', tooltip-popup-delay='500')
                    .form-group
                        label Z-Index
                        input.form-control(type='number', ng-model='taglinkData.z_index')
                    .form-group(ng-class="{ 'has-error' : settingsForm.transparency.$invalid && !settingsForm.transparency.$pristine }")
                        label Transparency
                        input.form-control(type='number', name='transparency', ng-model='taglinkData.transparency', ng-min='{{defaults.minTransparency}}', ng-max='{{defaults.maxTransparency}}', min='{{defaults.minTransparency}}', max='{{defaults.maxTransparency}}', ng-pattern="patterns.multiplesOfFive", ng-step='5', step='5', uib-tooltip='This determines the opaque level of the creative (for inview set to 100%, for inimage 95%)', tooltip-placement='right', tooltip-popup-delay='500')
                        p.help-block(ng-show="(settingsForm.transparency.$error.min || settingsForm.transparency.$error.max) && !settingsForm.transparency.$pristine") Transparency must be between {{defaults.minTransparency}} and {{defaults.maxTransparency}}.
                        p.help-block(ng-show="settingsForm.transparency.$invalid && !settingsForm.transparency.$pristine") Transparency must be a multiple of 5.
            .panel.panel-default
                .panel-heading
                    h3.panel-title Initial Placement Scan and Filtering
                .panel-body
                    .form-group
                        label.control-label Images to Skip
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.placements_to_skip')
                    .form-group
                        label.control-label Delay Initial Scan (milliseconds)
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.delay_in_millis')
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.placement_scan.filters.in_viewport')
                            | Initial Placement in Viewport
                    .form-group
                        label Block Image Classes
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.filters.block_classes', uib-tooltip='Enter a comma-separated list of classes. Omit . character for each class.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Block Image IDs
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.filters.block_ids', uib-tooltip='Enter a comma-separated list of IDs.  Omit # character for each ID.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Whitelist Image Classes
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.filters.whitelist_classes', uib-tooltip='Enter a comma-separated list of classes. Omit . character for each class.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Selector For Blocking by Ancestor
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.filters.block_by_ancestor_classes', uib-tooltip='Enter a comma-separated list of selectors. Include any . or # characters for each corresponding attribute.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Selector For Whitelisting by Ancestor
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.filters.whitelist_by_ancestor_classes', uib-tooltip='Enter a comma-separated list of selectors. Include any . or # characters for each corresponding attribute.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Embedded Render Selector
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.embedded_render_selector', uib-tooltip='Provides more specific visual render target embedded within the element identified by the primary selector.', tooltip-placement='top-center', tooltip-popup-delay='500')
            .panel.panel-default
                .panel-heading
                    h3.panel-title User-Generated Content
                .panel-body
                    p Detect the following user-generated widgets:&nbsp;
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.user_generated_content.instagram.enabled', ng-checked="taglinkData.placement_scan.user_generated_content.instagram.enabled")
                                    | Instagram
                            .panel-body(ng-show="taglinkData.placement_scan.user_generated_content.instagram && taglinkData.placement_scan.user_generated_content.instagram.enabled")
                                .form-group
                                    label Initial Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.instagram.selectors.initial', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Rendered Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.instagram.selectors.rendered', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Render Scan Delay
                                    input.form-control(type='number', ng-model='taglinkData.placement_scan.user_generated_content.instagram.render_scan_delay', uib-tooltip='Enter a number (in milliseconds).', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.user_generated_content.twitter.enabled', ng-checked="taglinkData.placement_scan.user_generated_content.twitter.enabled")
                                    | Twitter
                            .panel-body(ng-show="taglinkData.placement_scan.user_generated_content.twitter && taglinkData.placement_scan.user_generated_content.twitter.enabled")
                                .form-group
                                    label Initial Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.twitter.selectors.initial', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Rendered Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.twitter.selectors.rendered', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Render Scan Delay
                                    input.form-control(type='number', ng-model='taglinkData.placement_scan.user_generated_content.twitter.render_scan_delay', uib-tooltip='Enter a number (in milliseconds).', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.user_generated_content.imgur.enabled', ng-checked="taglinkData.placement_scan.user_generated_content.imgur.enabled")
                                    | Imgur
                            .panel-body(ng-show="taglinkData.placement_scan.user_generated_content.imgur && taglinkData.placement_scan.user_generated_content.imgur.enabled")
                                .form-group
                                    label Initial Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.imgur.selectors.initial', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Rendered Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.imgur.selectors.rendered', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Render Scan Delay
                                    input.form-control(type='number', ng-model='taglinkData.placement_scan.user_generated_content.imgur.render_scan_delay', uib-tooltip='Enter a number (in milliseconds).', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        .panel.panel-default
                            .panel-heading
                                label.control-label.checkbox-inline
                                    input(type='checkbox', ng-model='taglinkData.placement_scan.user_generated_content.pinterest.enabled', ng-checked="taglinkData.placement_scan.user_generated_content.pinterest.enabled")
                                    | Pinterest
                            .panel-body(ng-show="taglinkData.placement_scan.user_generated_content.pinterest && taglinkData.placement_scan.user_generated_content.pinterest.enabled")
                                .form-group
                                    label Initial Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.pinterest.selectors.initial', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Rendered Selector
                                    input.form-control(type='text', ng-model='taglinkData.placement_scan.user_generated_content.pinterest.selectors.rendered', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                                .form-group
                                    label Render Scan Delay
                                    input.form-control(type='number', ng-model='taglinkData.placement_scan.user_generated_content.pinterest.render_scan_delay', uib-tooltip='Enter a number (in milliseconds).', tooltip-placement='top-center', tooltip-popup-delay='500')

            .panel.panel-default
                .panel-heading
                    h3.panel-title Rescanning Triggers
                .panel-body
                    .form-group
                        label Max Number of Placements per Rescan
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.rescan.max_num_placements')
                    .form-group
                        label Rescan Timer (seconds)
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.rescan.triggers.timer.interval_in_millis')
                    .form-group
                        label Rescan Classes
                        input.form-control(type='text', ng-model='taglinkData.placement_scan.rescan.triggers.click.classes', uib-tooltip='Enter a comma-separated list of classes. Omit . character for each class.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Rescan IDs
                        input.form-control(type='text', ng-model='taglinkData.rescanIds', uib-tooltip='Enter a comma-separated list of IDs.  Omit # character for each ID.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Max Number of Rescans
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.rescan.limit')
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.placement_scan.rescan.filters.in_viewport')
                            | Rescan in Viewport
                    .form-group
                        label Rescan Delay
                        input.form-control(type='number', ng-model='taglinkData.placement_scan.rescan.delay_in_millis', uib-tooltip='Enter a number (in milliseconds).', tooltip-placement='top-center', tooltip-popup-delay='500')
            .panel.panel-default
                .panel-heading
                    h3.panel-title Banner Refreshing
                .panel-body
                    .form-group
                        label Filter Nested Child
                        input.form-control(type='text', ng-model='taglinkData.banner_refresh.filter_nested_child', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Filter Nested Change Selector
                        input.form-control(type='text', ng-model='taglinkData.banner_refresh.filter_nested_change_selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Banner-Hiding (During Refresh) Trigger Selector
                        input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.banner_hide.selector', uib-tooltip='Enter a comma-separated list of DOM selectors.  Include . and # when appropriate.', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Banner-Hiding External API activation Trigger Keywords
                        input.form-control(type='text', ng-model='taglinkData.banner_refresh.triggers.banner_hide.activate_key_names', uib-tooltip='Enter a comma-separated list of free-form keywords. top.NETSEER.{{taglinkData.banner_refresh.triggers.banner_hide.activate_key_names}}() will be externally available for the publishers to invoke. Avoid using special characters like "-", etc', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label Max Number of Refreshes
                        input.form-control(type='number', ng-model='taglinkData.banner_refresh.refresh_num_max')
                    .form-group
                        label Refresh Delay
                        input.form-control(type='number', ng-model='taglinkData.banner_refresh.reload_delay', uib-tooltip='Enter a number (in milliseconds).', tooltip-placement='top-center', tooltip-popup-delay='500')
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.banner_refresh.filter_viewport')
                            | Refresh on if Placement is 50% in Viewport
                    .form-group
                            label.control-label.checkbox-inline
                                input(type='checkbox', ng-model='taglinkData.banner_refresh.filter_viewport_banner')
                                | Refresh only if Banner is at least 50% in Viewport
                    .form-group
                        label.control-label.checkbox-inline
                            input(type='checkbox', ng-model='taglinkData.banner_refresh.prior_existing_banner.reposition', ng-checked="taglinkData.banner_refresh.prior_existing_banner.reposition")
                            | Re-position prior banner on Refresh
                    .form-group
                        label Hide Prior Banner on:
                        .radio(style='margin: 0 50px')
                            label
                                input(type='radio',name='bannerHideTiming', value='request', ng-model='taglinkData.banner_refresh.prior_existing_banner.hide_on')
                                | Request&nbsp;
                            label
                                input(type='radio',name='bannerHideTiming', value='response', ng-model='taglinkData.banner_refresh.prior_existing_banner.hide_on')
                                | Response&nbsp;
