h2 {{renderingTypeString}} Taglink Settings:&nbsp;
    span(ng-show='taglink') Taglink {{taglink}}
    span(ng-show='!taglink') New Taglink
section.messages
    p.bg-danger(ng-show='!user') There was a problem with your session.  Please log in again.
    p.bg-danger(ng-show='taglink && !taglinkData && !requestPending') Unable to retrieve data for taglink {{taglink}}.
    p.bg-danger(ng-show='!isNew && !taglink') Please provide a taglink.
    .loading.text-center(ng-show='requestPending')
        p
            i.fa.fa-spinner.fa-spin.fa-pulse.fa-3x.fa-fw
        p Loading ...
form.row(name='settingsForm',ng-show='isNew || (taglink && taglinkData)',novalidate)
    .col-xs-8.col-md-10
        inview-form(tlData="taglinkData", ng-if="taglinkData.rendering_type===2")
        inimage-form(tlData="taglinkData", ng-if="taglinkData.rendering_type===1 || taglinkData.rendering_type===3")
    .col-xs-4.col-md-2
        section.messages.text-center
            p.bg-success(ng-show='showSuccessMsg')
                i.fa.fa-floppy-o
                | &nbsp;Saved data successfully.
            p.bg-danger(ng-show='errorSaving && !requestPending')
                i.fa.fa-floppy-o
                | &nbsp;Failed to save data.  Please try again.
            p.bg-warning(ng-show='!settingsForm.$pristine && settingsForm.$valid')
                i.fa.fa-floppy-o
                | &nbsp;You have unsaved changes.  Be sure to Save Changes before leaving this page.
            p.bg-danger(ng-show='settingsForm.$invalid', ng-click='showFormState()')
                i.fa.fa-arrow-left
                | &nbsp;There are errors in the form, so saving is disabled.  Please correct those errors before proceeding.
        .text-center
            button.btn.btn-primary(ng-click="save()", ng-disabled='settingsForm.$invalid || requestPending') Save Changes
footer.row
    .col-xs-12
        small PubHub UI v{{version}}



