section.messages
  p
    padding 15px

input[type='number']
  max-width 150px

.checkbox-inline
  font-weight 700

.panel-collapsible

  h3.panel-title
    cursor pointer

    .fa
      color #999
      margin-right 5px

.loading
  background rgba(255,255,255,.5)
  display table-cell
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  padding-top 200px
  text-align center
  z-index 1000

footer
  border-top solid 1px #ccc
  color #ccc
  margin-top 50px
  text-align center