@import 'nib'

.page-loading
  fixed top right bottom left
  text-align center
  z-index 1000

  .filter
    absolute top right bottom left
    background-color #fff
    opacity .4

  i
    absolute top 50% left 50%
    color #555
    margin -35px 0 0 -35px
    font-size 70px